In [16]:
import pandas as pd
import os
import numpy as np

In [6]:
df = pd.read_csv('/Users/clairedubin/spur/peroxisomes/pi/pi_eurospar_032620.csv', header=None).drop_duplicates(0)

In [7]:
directory = "/Users/clairedubin/spur/peroxisomes/alignments/scer_spar_by_scer_population_091919/1WineEuropean/"

all_files = os.listdir(directory)

len(all_files)

3521

In [8]:
df.shape

(3482, 2)

In [9]:
df['gene'] = df[0].str.split('.', expand=True)[0]

df = df.rename(columns={1:'pi'})[['gene', 'pi']]
df.head()

      gene        pi
0  YBR070C  0.000509
1  YIL093C  0.002013
2  YKR078W  0.000517
3  YKR086W  0.002217
4  YOR209C  0.000310

In [10]:
essential = pd.read_csv('/Users/clairedubin/spur/publishable_data/external_datasets/essential.csv', header=None)
essential[1] = essential[1].str.strip('\t')
essential_genes = essential[1].str.strip(' ').tolist()

In [11]:
def resample(df1, df2, cols='all', n=10000):
    
    results = 0
    
    
    if cols != 'all':

        df1 = df1[cols]
        df2 = df2[cols]

    actual_med = df1['pi'].median()
    
    essential_count = len([i for i in df1['gene'] if i in essential_genes])
    nonessential_count = len(df1['gene']) - essential_count
    
    print('essential count: ', essential_count)
    print('nonessential_count: ', nonessential_count)
    
    essential_df = df2[df2['gene'].isin(essential_genes)]
    nonessential_df =  df2[~df2['gene'].isin(essential_genes)]


    for _ in range(n):
        
        if _ % 100 == 0:
        
            print(_)

        sample = essential_df.sample(n=essential_count)
        sample = sample.append(nonessential_df.sample(n=nonessential_count))

        sample_med = sample['pi'].median()

       
        if sample_med > actual_med:

            results += 1


    return results/n

In [12]:
go5778 = ['YPL112C',
 'YHR150W',
 'YPR165W',
 'YGR028W',
 'YNL214W',
 'YPR128C',
 'YML075C',
 'YGR004W',
 'YGR239C',
 'YLR324W',
 'YGL153W',
 'YHR160C',
 'YMR163C',
 'YDR265W',
 'YLR450W',
 'YDR244W',
 'YMR026C',
 'YKL188C',
 'YDR329C',
 'YLR191W',
 'YDR479C',
 'YOL147C',
 'YOR193W',
 'YBR168W',
 'YPL147W',
 'YBR222C',
 'YNL329C',
 'YDL065C',
 'YOL044W',
 'YAL055W']

In [13]:

go5778_df = df[df['gene'].isin(go5778)]
go5778_df.shape

(30, 2)

In [17]:
np.random.seed(5)


resample(go5778_df, df)

essential count:  1
nonessential_count:  29
0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900

0.2543